.nav-item {
  .logo {
    height: 2rem;
    width: 2rem;
    margin: 5px 10px;
  }
}

.nav-logo {
  background-color: black;
}

.logo {
  position: relative;

  img {
    max-width: 100%;
    height: auto;
  }

  &-res {
    width: 100%;
    height: 100%;
  }

  &-512 {
    width: 512px;
    height: 512px;
  }
  &-256 {
    width: 256px;
    height: 256px;
  }
  &-128 {
    width: 128px;
    height: 128px;
  }
  &-64 {
    width: 64px;
    height: 64px;
  }
  &-32 {
    width: 32px;
    height: 32px;
    padding: 2px;
  }
}

.logo-container {
  figure {
    margin-right: 10px;
    figcaption {
      font-size: 12px;
      color: $gray-700;
    }
  }

  .logo {
    background-color: $gray-600;
    border-radius: 7px;
    position: relative;
    padding: 10px;

    img {
      max-width: 100%;
      height: auto;
    }

    &-res {
      width: 100%;
      height: 100%;
      flex: 1 1 auto;
    }

    &-512 {
      width: 512px;
      height: 512px;
    }
    &-256 {
      width: 256px;
      height: 256px;
    }
    &-128 {
      width: 128px;
      height: 128px;
    }
    &-64 {
      width: 64px;
      height: 64px;
    }
    &-32 {
      width: 32px;
      height: 32px;
      padding: 2px;
    }
  }
}

.dark-bg-text {
  background-color: $gray-800;
  color: white;
}

.tox.tox-silver-sink.tox-tinymce-aux {
  display: none;
}

.color-row {
  display: flex;

  .pallette-block {
    width: 200px;
    height: 200px;
    background-color: $gray-300;
    padding: 10px;
    font-weight: bold;
  }
}
