@mixin color-builder($color-map) {
  @each $name, $color in $color-map {
    .bg-#{$name} {
      background-color: $color;
    }
    .text-#{$name} {
      color: $color;
    }
  }
}

body.active-theory {
  background-color: #85dcba;
  color: white;
}

.active-theory {
  $colors: (
    'orange': #e27d60,
    'lt-green': #85dcba,
    'lt-orange': #e8a87c,
    'red': #c38d9e,
    'green': #41b3a3,
  );

  @include color-builder($colors);

  &.primary-block {
    background-color: #85dcba;
    color: white;
  }

  .nav {
    background-color: white;
  }

  .nav-item a {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
  }

  .nav-logo {
    background-color: black;
  }
}
